.image{
  height: 55px;
  width: 55px;
  border: solid 2px white;
  border-radius: 50%;
}

.search-input{
  border-radius: 10px;
  border: solid 1px black;
}
.search-btn{
  background-color: silver;
  border-radius: 10px;
  border: solid 1px black;
}