.like-link{
  color: red;
  font-size: 14px;  
}
a{
  text-decoration: none;
  color: black;
}

.iine__button{
  color: green;
  font-weight: bold;
}
.dame__button{
  color: blue;
  font-weight: bold;
}